* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #FFF0F5;
}

#cabecalho {
    background-color: #BA55D3;
    padding: 15px;
    text-align: center;
}

#logo,
#menu {
    padding: 10px;
}

#principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#postagem {
    width: 660px;
    float: left;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

p {
    text-align: justify;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.postagem-lateal {
    font-size: 0.8em;
    padding: 5px;
}

img {
    width: 625px;
    height: 450px;
}

#lateral {
    width: 240px;
    float: right;
    background: white;
}

.conteudo-lateral {
    padding: 10px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}


/*Formatação links area do menu*/

#cabecalho a:link,
#cabecalho a:visited {
    color: white;
    padding: 8px 12px;
}

#cabecalho a:hover {
    color: #BA55D3;
    background: white;
}


/*Formatação dos outros links*/

a:link,
a:visited {
    color: #BA55D3;
}

a:hover {
    color: white;
    background: #BA55D3;
}

h1 {
    color: black;
    font-size: 2, 5em;
}

h2 {
    color: #BA55D3;
}

h3 {
    color: #BA55D3;
    background: #FFF0F5;
    padding: 5px;
}

.branco {
    color: white;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #BA55D3;
}